{% extends 'Sbike/base.html' %}

{% block title %} Edit profile of {{ username }} - StateBike {% endblock title %}

{% block content %}

<h1>Edit Profile of {{ username }}  </h1>

<h2>Personal Data</h2>
<ul>
  <li>Name: {{ fname }} {{ lname }} </li><a href="name"> Edit </a>
  <li>DNI: {{ dni }}</li>
  <li>Phone Number: {{ phone }}</li><a href="phone"> Edit </a>
  <li>Email: {{ email }}</li><a href="email"> Edit </a>
</ul>

<h2>Credit Card Data </h2> <a href="card"> Edit </a>   
<ul>
  <li>Card Number: {{ card_number }}</li>
  <li>Expiration Date: {{ exp_date }}</li>
  <li>Security Code: {{ sec_code }}</li>
</ul>



{% endblock content %}
