{% extends 'Sbike/base.html' %}

{% block title %} employee profile {% endblock title %}

{% block content %}

<h1>Employee Profile of {{ username }} </h1>
<hr />
<h2>Personal Data</h2>
<hr />

<div id="admin-actions">
    <ul>
      <li><a href="#">Consult Bicycles on your stations</a></li>
      <li><a href="/setstatus/">Repair or Set as Broken Bicycles</a></li>
    </ul>
</div>

<ul>
  <li>Name: {{ fname }} {{ lname }}</li>
  <li>DNI: {{ dni }}</li>
  <li>Phone Number: {{ phone }}</li>
  <li>Email: {{ email }}</li>
</ul>

{% endblock content %}
